@{
    ViewData["Title"] = "Home Page";
}

<table class="table" id="hotelListBlock">
    <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Адрес</th>
            <th scope="col">Рейтинг</th>
            <th scope="col">Описание</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="hotel in hotelList">
            <th>{{hotel.name}}</th>
            <th>{{hotel.adress}}</th>
            <th>{{hotel.rating}}</th>
            <th>{{hotel.description}}</th>
            <th><button type="button" @@click="details({{hotel.id}})" class="btn btn-outline-primary">Детально</button></th>
    
        </tr>
        
    </tbody>
</table>
